.alert-bar {
  display: flex;
  align-items: center;
  padding: 15px 50px 15px 70px;
  color: #FFF;
  font-family: inherit;
  background-image: url("../images/info.svg");
  background-position: left 20px center;
  background-repeat: no-repeat;
  background-size: 30px;
  text-decoration: none;
  font-size: 16px;
  display: none;
  position: relative;
  transition: ease-in-out background-color 200ms;
}

.alert-bar:hover,
.alert-bar:focus {
  text-decoration: none;
}

.alert-bar * + * {
  margin-left: 20px;
}

.alert-bar__title {
  font-weight: bold;
  flex-shrink: 0;
}

.alert-bar__link {
  margin-left: auto;
  font-weight: bold;
  padding-left: 20px;
  text-decoration: underline;
  flex-shrink: 0;
}

.alert-bar__close {
  background-image: url("../images/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  background-color: transparent;
  position: relative;
  text-indent: -9999px;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  background-color: rgba(0,0,0,.1);
  padding: 0;
  margin: 0;
  box-shadow: none;
}

.alert-bar__close:hover,
.alert-bar__close:focus {
  background-color: transparent;
}

.alert-bar--status {
  background-color: #008000;
}

.alert-bar--status:hover,
.alert-bar--status:focus {
  background-color: #007300;
}

.alert-bar--warning {
  background-color: #ffa500;
}

.alert-bar--warning:hover,
.alert-bar--warning:focus {
  background-color: #F29800;
}

.alert-bar--alert {
  background-color: #ff0000;
}

.alert-bar--alert:hover,
.alert-bar--alert:focus {
  background-color: #F20000;
}

.alert-bar--fixed {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
}

.alert-bar--top {
  top: 0;
}

.alert-bar--bottom {
  bottom: 0;
}

.alert-bar--centre {
  position: fixed;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: baseline;
  background-position: top 15px left 20px;
}

.alert-bar--closed {
  display: none;
}

.alert-bar--show {
  display: flex;
}

.alert-bar--centre * + * {
  margin-left: 0;
  margin-top: 20px;
}

.alert-bar--centre .alert-bar__link {
  margin-left: 0;
  padding-left: 0;
}

.alert-bar--centre .alert-bar__close {
  position: absolute;
  top: 15px;
  right: 20px;
  margin-top: 0;
}

/* Styles for screens below 600px */
@media screen and (max-width: 37.5em) {
  .alert-bar__title {
    flex-shrink: 1;
  }

  .alert-bar__text {
    display: none;
  }
}

/* Styles for screens below 480px */
@media screen and (max-width: 30em) {
  .alert-bar {
    font-size: 14px;
    background-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-position: left 10px center;
  }
}








